*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
/app/* linguist-language=TypeScript
/app/components/* linguist-language=TypeScript
